@charset "UTF-8";

@media (min-width: 1400px){
    #main-banner{
        width: 100%;
    }
}

@media (max-width: 1400px){
    .whatsapp > .col-md-8{
        top: 30px;
    }
}

@media (max-width: 1200px){
    .whatsapp > .col-md-8{
        top: 20px;
    }
}

@media (max-width: 992px){

    /* contact us whatsapp*/
    
    .imgWhatsApp{
        position: relative;
        top: 15px;
        width: 400px;
    }

    .whatsapp > .col-md-8{
        top: 0px;
    }

    
    #navbarTogglerDemo02{
        background-color: rgba(0, 0, 0, 0.61);
        border: solid 1px rgb(163, 163, 163);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 9px;
        margin-top: 3px;
        margin-left: 125px;
    }

    #navbarTogglerDemo02 ul{
        margin-left: 25px;
    }

    .navbarBottom-active{
        padding-top: 15px;
        color: bold;
        background-color: transparent !important;
        box-shadow: rgba(230, 230, 230, 0.24) 0px 1px 5px;
    }
    
    #navbarBottom{
        padding-top: 15px;
        background-color: #172C63;
        border-bottom: 2px solid rgba(219, 219, 219, 0.432);
        height: 120px;
        transition: all 0.1s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    /*navbar*/
    #logo-top-header{
        width: 100px;
        margin-left: 0px;
    }

    .margin-box{
        margin-bottom: 15px;
    }

    /* contact-us form*/

    .row-form{
        height: 900px;
    }

    /* contact us whatsapp*/

    #container-contact-us{
        height: 100px;
    }

    .whats{
        position: relative;
        height: auto;
        bottom: 200px;
        background-color: #231931;
        border-top-right-radius: 80px;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 80px;
        border: 1px solid rgba(255, 255, 255, 0.247);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }

    .whatsapp{
        height: auto;
        display: flex;
    }

    .whatsapp > .col-md-8{
        color: white;
        padding: 25px;
        position: relative;
        top: 15px;
        left: 100px;
    }

    .btnWhatsapp{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        background-color: green;
        color: white;
        margin-top: 5px;
        margin-bottom: 30px;
        width: 60%;
    }

    .btnWhatsapp:hover{
        background-color: green;
    }

    .col-md-8 a{
        font-size: 1.5em;
        padding: 12px;
    }

    .imgWhatsApp{
        position: relative;
        left: 60px;
        width: 400px;
        margin-bottom: -15px;
    }

    .textWhatsApp{
        text-align: center;
    }

    #contact-us{
        background-image: url(/img/background-cinza.png);
        background-position: right bottom;
        background-size: cover;
        height: auto;
    }
    
}

@media (max-width: 576px){
    .imgWhatsApp{
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        position: relative;
        width: 400px;
        margin-bottom: -15px;
    }

    .whatsapp > .col-md-8{
        left: 90px;
    }

        
    #navbarTogglerDemo02{
        background-color: rgba(0, 0, 0, 0.61);
        border: solid 1px rgb(163, 163, 163);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 9px;
        margin-top: 4px;
        margin-left: 100px;
    }

    #navbarTogglerDemo02 ul{
        margin-left: 0px;
    }

}

@media (max-width: 470px){

}